%section{data: {"background" => "images/ETHbackground.png", "background-size" => "100%", "background-position" => "bottom"}}
  %h2 Quantitative high-energy phase measurements

%section{data: {transition: "none"}}
  %h2 High-energy ratio independent of the material
  #ratio-df

%section
  %h2 Noise properties of the phase
  %div.spaced
    \\[\begin{align*}
    \\sigma_P &amp;= \frac{1}{v\sqrt{N}}\\
    &amp;= \frac{1}{v_0 \sqrt{N_0}} \frac{1}{A^{R + 1/2}}
    \\end{align*} \]
  %div.spaced
    \\[\begin{align*}
    A &amp;= \text{transmission}\\
    B &amp;= \text{dark field}\\
    R &amp;= \frac{\log B}{\log A}\\
    N &amp;= \text{number of photons}\\
    _0 &amp;= \text{without sample}
    \\end{align*} \]

%section
  %h2 \( \sigma_P(A, R) \)
  %div
    \\(\sigma_P = \frac{1}{v_0 \sqrt{N_0}} \frac{1}{A^{R + 1/2}} \qquad N_0 = 10^4 \text{ and }v_0 = 10\%\)
  #sigma-absorption

%section
  %h2 \( \sigma_\text{max} = 2 \pi / 5 \Rightarrow \text{max thickness}\)
  .col-md-4#table-30
    .h3 max thickness (cm) at 30 keV
  .col-md-4
  .col-md-4#table-100
    .h3 max thickness (cm) at 100 keV
  #sigma-absorption

%section
  %h2 Progress towards the new setup
  %ul
    %li.alert.alert-danger gratings
    %li.alert.alert-warning source
    %li.alert.alert-success motors
    %li.alert.alert-success detector

%section
  %section
    %h2 Grating fabrication at KIT
    Detailed progress on the
    %a{href: "https://tracker.psi.ch/jira/browse/TCNS-10"} issue tracker

  %section
    %h2 First overplated mask (June)
    %img{style: "width: 80%;", src: "images/S_13-099_T1A013.jpg"}
    %img{style: "width: 80%;", src: "images/S_13-099_T1A006.jpg"}

  %section
    %h2 Second mask, wrong duty cycle (August)
    .col-md-12
      %img{src: "images/2014.08.08-resume-mask-wrong-dc.png"}

  %section
    %h2 First irradiation attempt (October)
    The resist is too sensitive
    .col-md-12
      %img{src: "images/S_0895-5A005.png"}

%section
  %h2 New 225 kV source
  %ul
    %li.alert.alert-success source
    %li.alert.alert-success high-voltage generator
    %li.alert.alert-warning controller
    %li.alert.alert-warning authorization

%section
  %section
    %h2 Mythen detector
    %ul
      %li energy threshold >20 keV
      %li better PSF with respect to scintillator + camera
      %li special module with fan geometry
      %li 24 bits (was 16)
      %li 50 &micro;m pixel size (was 80&micro;m)
      %li detailed SNR studies in Maria's report
      
  %section
    %h2 Improved visibility by 50%
    %p
      average from 5% to 7.5%
    %img{style: "width: 70%;", src: "images/visibility.png"}
      
  %section
    %h2 Improved visibility by 50%
    %p
      average from 5% to 7.5%
    %img{style: "width: 70%;", src: "images/pixel_visibility.png"}

%section
  %section
    %h2 Quantitative phase experiments
    %ul
      %li is \(\sigma_P(A, R)\) a good model?
      %li can we measure \(\delta\)?

  %section
    %h2 Wedge samples
    %p
      Constant differential phase value proportional to \(\delta\)
    %ul
      %li PMMA - Polymethyl methacrylate
      %li PS - Polystyrene
      %li HDPE - High-density polyethylene

  %section
    %h2 \(R \approx 2\)
    %img{style: "height: 60vh;", src: "images/R_distribution.png"}

  %section
    %h2 \[ \sigma_P(A, R) = [v_0 \sqrt{N_0} A^{R + 1/2}]^{-1}\]
    %p \[\text{prediction error} = \frac{\sigma_\text{predicted} - \sigma_\text{observed}}{\sigma_{\text{predicted}}}\]
    %img{style: "height: 60vh;", src: "images/relative_prediction_error.png"}

  %section
    %h2 Measuring \( \delta \)
    %p
      geometrical inputs + measured dpc value P:
    %p
      \\[ \delta = \frac{2 \pi p \tan \theta}{D}P  \]

  %section
    %h2 Absolute \( \delta \)
    .row
      .col-md-2
      .col-md-8
        %table.table
          %thead
            %tr
              %th material
              %th NIST table \( \delta (\cdot 10^{-9}) \) 
              %th experimental \( \delta (\cdot 10^{-9}) \) 
          %tbody
            %tr
              %td PMMA
              %td \(102\)
              %td \(92 \pm 19\)
            %tr
              %td PS
              %td \(90\)
              %td \(81 \pm 21\)
            %tr
              %td HDPE
              %td \(88\)
              %td \(87 \pm 14\)
    %p.alert.alert-success
      No fit, no calibration, real absolute experimental values!
    %p.alert.alert-success
      theoretical values for an energy of 50 keV, which is the average of the simulated spectrum

  %section
    %h2 Relative \( \delta \)
    %p
      Accounts for energy calibration, universally used in publications
    .row
      .col-md-2
      .col-md-8
        %table.table
          %thead
            %tr
              %th material
              %th NIST table \( \delta/\delta_\text{PMMA} \) 
              %th experimental \( \delta/\delta_\text{PMMA} \) 
          %tbody
            %tr
              %td PS
              %td \(0.89\)
              %td \(0.88 \pm 0.30\)
            %tr
              %td HDPE
              %td \(0.87\)
              %td \(0.95 \pm 0.25\)
    %p.alert.alert-danger
      Note the large uncertainty, even after 50 hours exposure per sample

%section
  %h2 Conclusions
  %h3 New setup
  %ul
    %li only official authorization is missing
    %li.alert.alert-success excellent performance of the new motors and detector
    %li.alert.alert-danger gratings still unavailable
  %h3 Noise model
  %ul
    %li.alert.alert-success no free parameters, reasonable agreement within 50%
    %li important constraints for applications
    %li.alert.alert-danger missing link \(R \leftrightarrow \) geometry and energy
  %h3 Quantitative phase measurements
  %ul
    %li.alert.alert-success very good agreement, even without calibration
    %li.alert.alert-danger measurement requires many long exposures
