%section{data: {"background" => "images/ETHbackground.png", "background-size" => "100%", "background-position" => "bottom"}}
  %h2 Grating interferometry on a 160 kVp source

%section{data: {transition: "none"}}
  %h2 Grating interferometry
  %h3 Talbot effect
  #talbot-carpet

%section
  %h2 High-energy ratio independent of the material
  #ratio-df

%section
  %h2 Noise properties of the phase
  %div.spaced
    \\[\begin{align*}
    \\sigma_P &amp;= \frac{1}{v\sqrt{N}}\\
    &amp;= \frac{1}{v_0 \sqrt{N_0}} \frac{1}{A^{r + 1/2}}
    \\end{align*} \]
  %div.spaced
    \\[\begin{align*}
    A &amp;= \text{transmission}\\
    B &amp;= \text{dark field}\\
    r &amp;= \frac{\log B}{\log A}\\
    N &amp;= \text{number of photons}\\
    _0 &amp;= \text{without sample}
    \\end{align*} \]

%section
  %h2 \( \sigma_P(A, r) \)
  %div
    \\(\sigma_P = \frac{1}{v_0 \sqrt{N_0}} \frac{1}{A^{r + 1/2}} \qquad N_0 = 10^4 \text{ and }v_0 = 10\%\)
  #sigma-absorption

%section
  %h2 \( \sigma_\text{max} = 2 \pi / 5 \)
  %ul
    %li Rose criterion
    %li Statistical phase wrapping
  .row
    .col-md-4#table-30
      .h3 max thickness (cm) at 30 keV
    .col-md-4
    .col-md-4#table-100
      .h3 max thickness (cm) at 100 keV
  #sigma-absorption
