%section{data: {"background" => "images/ETHbackground.png", "background-size" => "100%", "background-position" => "bottom"}}
  %h2 Grating interferometry on a 160 kVp source

%section{data: {transition: "none"}}
  %h2 Grating interferometry
  %h3 Talbot effect
  #talbot-carpet
