%section{data: {"background" => "images/ETHbackground.png", "background-size" => "100%", "background-position" => "bottom"}}
  %h2 High-energy grating interferometry and Compton scattering
  %h3 <i>M. Abis</i>, Z. Wang, M. Stampanoni
  %p Swiss Federal Institute of Technology, Zurich, Switzerland
  %p Paul Scherrer Institute, Villigen, Switzerland

%section{data: {transition: "none"}}
  %h2 Why high energies?
  .spaced
    %p absorption \( \propto \mathcal{E}^{-3} \)
    %p phase \( \propto \mathcal{E}^{-1} \)
    %p
      %img{src: "images/delta_beta_carbon.png", width: "50%"}

%section
  %h2 The technical challenge
  .col-md-6
    %h3 grating parameters for constant phase sensitivity
    %ul
      %li.addedmargin period   \( p \propto \mathcal{E}^{-1/2} \)
      %li.addedmargin thickness   \( t \propto \mathcal{E}^{3} \)
      %li.addedmargin.alert.alert-danger aspect ratio   \( R = 2t/p \propto \mathcal{E}^{7/2} \)
      %ul
        %li.addedmargin at <span style="visibility: hidden">0</span>25 keV \( R \sim 30 \) 
        %li.addedmargin at 100 keV \( R \gt 100 \) 
  .col-md-6
    %img{src: "images/140217_bosch_p1um_00.png", width: "100%"}

%section
  %h2 The edge-on arrangement
  %img{src: "images/hDPC_setup.png", width: "50%"}

%section
  .col-md-6
    %h2 Grating design parameters
    %table.large
      %tbody
        %tr
          %td design energy
          %td 100 keV
          %td 120 keV
        %tr
          %td absorption depth
          %td{colspan: "2"} 800 &micro;m
        %tr
          %td period
          %td{colspan: "2"} 2.8 &micro;m
        %tr
          %td total length
          %td 54 cm
          %td 61 cm
        %tr
          %td \( G_1 \) material
          %td gold
          %td nickel

  .col-md-6
    %h2 Source and detector
    %table.large
      %tbody
        %tr
          %td acceleration voltage
          %td 160 kV
        %tr
          %td current
          %td 10 mA
        %tr
          %td detector
          %td silicon photon counting <a href="http://www.psi.ch/detectors/mythen" style="font-variant: small-caps;">mythen</a>
        %tr
          %td pixel size
          %td 60 &micro;m
  .row
    %img{style: "width: 70%;", src: "images/side.png"}

%section
  %h2 Performance: average visibility 7.5%
  %img{style: "width: 70%;", src: "images/visibility.png"}
    
%section
  %h2 First images at 100 keV design energy
  %img{src: "images/images_S00075_S00071.png", width: "50%"}
  %p <i>X-ray phase-contrast imaging at 100 keV on a conventional source</i>, Scientific Reports, 2014

%section
  %h2 High-energy interactions and Compton scattering
  %h3 <span style="font-variant: small-caps;">nist</span> cross sections for carbon
  #carbon-cross-section

%section
  %h2 Connections between the three signals
  %ul
    %li.addedmargin absorption &rightarrow; extinction &rightarrow; scattering
    %li.addedmargin scattering &rightarrow; electron density &rightarrow; phase

%section
  %h2 Low-energy ratio of dark field and absorption
  %p carries information about the atomic number in addition to particle size
  %p \[ r = \frac{\log (\text{dark field})}{\log (\text{absorption})} \]
  %div
    %img{src: "images/ratio_image.png", width: "28%"}
  %div Wang et al. <i>Non-invasive classification of microcalcifications with phase-contrast X-ray mammography</i><br> Nat. Comm. 5/2014

%section
  %h2 High-energy ratio of dark field and absorption
  %p as a function of thickness (dots) and material (colours)
  #ratio-abs

%section
  %h2 High-energy ratio of dark field and absorption  
  %p no dependence on the atomic number Z
  %p dark field \( \rightarrow 0 = \) thicker, stronger scattering
  #ratio-df

%section
  %h2 High-energy ratio of dark field and absorption
  %p still sensitive to microstructures smaller than the pixel size
  #ratio-df-all

%section
  %h2 Quantitative phase measurements with wedge samples
  %p
    Constant differential phase value proportional to \(\delta\)
  %ul
    %li PMMA - Polymethyl methacrylate
    %li PS - Polystyrene
    %li HDPE - High-density polyethylene
  .div{style: "height: 10vh"}
  .row
    .col-md-4
      %img{src: "images/pmma.jpg"}
    .col-md-4
      %img{src: "images/ps.jpg"}
    .col-md-4
      %img{src: "images/hdpe.jpg"}

%section
  %h2 Measuring \( \delta \)
  %p
    geometrical inputs + measured DPC value P:
  %p
    \\[ \delta = \frac{2 \pi p \tan \theta}{D}P  \]
  %p
  .row
    .col-md-4
    .col-md-4
      %table.table
        %thead
        %tbody
          %tr
            %td \( p \)
            %td period of the grating
          %tr
            %td \( D \)
            %td distance \(G_1-G_2\)
          %tr
            %td \( \theta \)
            %td wedge angle
          %tr
            %td \( P \)
            %td measured DPC value

%section
  %h2 Sensitivity by energy
  %p
    theoretical visibility at an energy \( \mathcal{E} \), a design
    energy \(\mathcal{E_0}\) and a Talbot order \(m\) (simulated spectrum)
  %p
    \\[
    v(\mathcal{E}) = \frac{2}{\pi} \left\lvert \sin^2
    \\Big(\frac{\pi}{2}\frac{\mathcal{E_0}}{\mathcal{E}}\Big) 
    \\sin
    \\Big(\frac{m\pi}{2}\frac{\mathcal{E_0}}{\mathcal{E}}\Big) 
    \\right\rvert
    \\]
  #visibility-plot
  %div Thüring and Stampanoni, <i>Performance and optimization of X-ray grating interferometry</i>, Phil. Trans. A, 2014

%section
  %h2 Absolute \( \delta \)
  .row
    .col-md-2
    .col-md-8
      %table.table
        %thead
          %tr
            %th material
            %th NIST table \( \delta (\cdot 10^{-9}) \) 
            %th experimental \( \delta (\cdot 10^{-9}) \) 
        %tbody
          %tr
            %td PMMA
            %td \(90\)
            %td \(92 \pm 19\)
          %tr
            %td PS
            %td \(80\)
            %td \(81 \pm 21\)
          %tr
            %td HDPE
            %td \(79\)
            %td \(87 \pm 14\)
  %p.alert.alert-success
    Theoretical values at an energy of 54 keV, average from plot on the previous slide
  %p.alert.alert-success
    statistical error \( \propto 1 / \text{visibility} \), large margin for improvement

%section
  %h2 Conclusions
  %h3 quantitative phase
  %ul
    %li.alert.alert-success agreement within statistical error
    %li.alert.alert-warning could be improved proportionally to the visibility
  %h3 Compton scattering
  %ul
    %li.alert.alert-warning no more complementarity and atomic number information
    %li.alert.alert-success sensitivity to microstructures holds
