%section{data: {"background" => "images/ETHbackground.png", "background-size" => "100%", "background-position" => "bottom"}}
  %h2 High-energy grating interferometry and Compton scattering
  %h3 <i>M. Abis</i>, Z. Wang, M. Stampanoni
  %h3 Swiss Federal Institute of Technology, Zurich, Switzerland
  %h3 Paul Scherrer Institute, Villigen, Switzerland

%section{data: {transition: "none"}}
  %h2 Why high energies?
  .spaced
    %p absorption \( \propto \mathcal{E}^{-3} \)
    %p phase \( \propto \mathcal{E}^{-1} \)

%section
  %h2 The technical challenge
  %h3 grating parameters for constant phase sensitivity
  %ul
    %li.addedmargin period   \( p \propto \mathcal{E}^{-1/2} \)
    %li.addedmargin thickness   \( t \propto \mathcal{E}^{3} \)
    %li.addedmargin aspect ratio   \( R = 2t/p \propto \mathcal{E}^{7/2} \)
    %ul
      %li.addedmargin at <span style="visibility: hidden">0</span>25 keV \( R \sim 30 \) 
      %li.addedmargin at 100 keV \( R \gt 100 \) 

%section
  %h2 The edge-on arrangement
  %img{src: "images/hDPC_setup.png", width: "50%"}

%section
  %h2 Grating design parameters
  %table
    %tbody
      %tr
        %td design energy
        %td 100 keV
        %td 120 keV
      %tr
        %td absorption depth
        %td{colspan: "2"} 800 &micro;m
      %tr
        %td period
        %td{colspan: "2"} 2.8 &micro;m
      %tr
        %td total length
        %td 54 cm
        %td 61 cm
      %tr
        %td \( G_1 \) material
        %td gold
        %td nickel

%section
  %h2 First images at 100 keV
  %img{src: "images/images_S00075_S00071.png", width: "50%"}
  %p Scientific Reports 4, 5198, June 6 2014

%section
  %h2 High-energy interactions and compton scattering
  %h3 cross sections for carbon
  #carbon-cross-section

%section
  %h2 Connections between the three signals
  %ul
    %li.addedmargin absorption &rightarrow; extinction &rightarrow; scattering
    %li.addedmargin scattering &rightarrow; electron density &rightarrow; phase

%section
  %h2 Low-energy ratio of dark field and absorption
  %p carries information about the atomic number
  %p \[ r = \frac{\log (\text{dark field})}{\log (\text{absorption})} \]
  %div
    %img{src: "images/ratio_image.png", width: "28%"}
  %div Wang et al. <i>Non-invasive classification of microcalcifications with phase-contrast X-ray mammography</i><br> Nat. Comm. 5/2014

%section
  %h2 High-energy ratio independent of the material
  #ratio-df

  %section
    %h2 Improved visibility by 50%
    %p
      average from 5% to 7.5%
    %img{style: "width: 70%;", src: "images/visibility.png"}
      
  %section
    %h2 Improved visibility by 50%
    %p
      average from 5% to 7.5%
    %img{style: "width: 70%;", src: "images/pixel_visibility.png"}

%section
  %section
    %h2 Quantitative phase experiments
    %ul
      %li noise: is \(\sigma_P\) reliable?
      %li signal: can we measure \(\delta\)?

  %section
    %h2 Wedge samples
    %p
      Constant differential phase value proportional to \(\delta\)
    %ul
      %li PMMA - Polymethyl methacrylate
      %li PS - Polystyrene
      %li HDPE - High-density polyethylene
    .div{style: "height: 10vh"}
    .row
      .col-md-4
        %img{src: "http://www.hollandaquasight.com/wp-content/uploads/2012/11/72.png"}
      .col-md-4
        %img{src: "http://www.insulationexpress.co.uk/Images/Products/unnamed1.jpg"}
      .col-md-4
        %img{src: "http://www.tassa.co.il/image/users/205979/ftp/my_files/Products/Installation/%D7%A6%D7%A0%D7%A8%D7%AA%20HDPE.jpg?id=9669607"}
  %section
    %h2 \(R \approx 2\)
    %img{style: "height: 60vh;", src: "images/R_distribution.png"}

  %section
    %h2 Measuring \( \delta \)
    %p
      geometrical inputs + measured dpc value P:
    %p
      \\[ \delta = \frac{2 \pi p \tan \theta}{D}P  \]
    %p
    .row
      .col-md-4
      .col-md-4
        %table.table
          %thead
          %tbody
            %tr
              %td \( p \)
              %td period of the grating
            %tr
              %td \( D \)
              %td distance \(G_1-G_2\)
            %tr
              %td \( \theta \)
              %td wedge angle
            %tr
              %td \( P \)
              %td measured DPC value

  %section
    %h2 Absolute \( \delta \)
    .row
      .col-md-2
      .col-md-8
        %table.table
          %thead
            %tr
              %th material
              %th NIST table \( \delta (\cdot 10^{-9}) \) 
              %th experimental \( \delta (\cdot 10^{-9}) \) 
          %tbody
            %tr
              %td PMMA
              %td \(102\)
              %td \(92 \pm 19\)
            %tr
              %td PS
              %td \(90\)
              %td \(81 \pm 21\)
            %tr
              %td HDPE
              %td \(88\)
              %td \(87 \pm 14\)
    %p.alert.alert-success
      No fit, no calibration, real absolute experimental values!
    %p.alert.alert-success
      theoretical values for an energy of 50 keV, which is the average of the simulated spectrum

%section
  %h2 Conclusions
  %h3 New setup
  %ul
    %li only official authorization is missing
    %li.alert.alert-success excellent performance of the new motors and detector
    %li.alert.alert-danger gratings still unavailable
  %h3 Noise: sensitivity prediction
  %ul
    %li.alert.alert-success no free parameters, reasonable agreement within 50%
    %li important constraints for applications
    %li.alert.alert-danger missing link \(R \leftrightarrow \) geometry and energy
    %li.alert.alert-danger \(R < \text{ or } > 1 \) should be particularly important
  %h3 Signal: quantitative phase
  %ul
    %li.alert.alert-success very good agreement, even without calibration
    %li.alert.alert-danger measurement requires many long exposures
